@font-face {
    font-family: 'GoodDogRegular';
    src: url('../fonts/GoodDog-webfont.eot');
    src: url('../fonts/GoodDog-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GoodDog-webfont.woff') format('woff'),
         url('../fonts/GoodDog-webfont.ttf') format('truetype'),
         url('../fonts/GoodDog-webfont.svg#GoodDogRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
	background-color: #000;
}
.gameContainer {
	max-width: 1050px;
	max-height: 600px;
	position:absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}